﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>Litum is the best!!! The time on the server is @DateTime.Now</p>

</div>

